* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url("../Assets/Background.png");
  font-family: "Roboto", sans-serif;
}
img{
  width: 50%;
  position: absolute;
  bottom: 15.719rem;
}

.main{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
}
     /* first div */
.sub-main{
  background-color: #233d4b;
  max-width: 100%;
  height: 21.875rem;

}
.txt{
  text-align: center;
}
.sub-main h2{
  color: #fff;
  margin-top: 20px;
  letter-spacing: 1px;
}
.sub-main p{
  color: rgb(173, 170, 170);
  padding: 10px;
}

        /* Second div */
.sub-m{
  background-color: #fff;
  padding: 20px;
}
.sub-m h2{
  margin-bottom: 15px;
}
.sub-m p{
  margin-bottom: 10px;
}
#email{
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
#pass{
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.link{
  color: #233d4b;
}
.submit{
    color: #fff;
    background:  #233d4b;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border-width: 2px;
    font-size: 15px;
    border-style: none;
    margin-top: 20px;
    width: 100%;
}

           /* Media query */
  @media(min-width:1020px){
    .main{
      margin-top: 120px;
      display: flex;
      flex-direction: row;
      border-radius: 20px;
    }
    .sub-main{
      width: 100%;
    }
    .sub-m{
      width: 100%;
      height: 21.875rem;
    }
    img{
      width: 20%;
      position: absolute;
      left: 345px;
      bottom: 139.5px;
    }
  
  }
